

body{
    background: #34e7e4;
    font-family: sans-serif;
    text-align: center;
    color: azure;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
    height: calc(100vh);
}

header{
    background: #3c40c6;
    padding: 2em 0 2em 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex: 1;
    margin: 0;
    box-sizing: border-box;
}
main{
    background: #3c40c6;
    padding: 3em 0 3em 0;
    flex: 3;
    margin: 5px;
    box-sizing: border-box;
}

.right{
    background: #3c40c6;
    padding: 0;
    flex: 1;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aside-container{
    margin: 2px;
    display: flex;
    justify-content: center;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 5px;
}
tr th {
    background-color: #34e7e4;
    color: azure;
    text-align: left;
    font-weight: bold;
    padding: 15px;
}

tr {
    border-color: black;
}

footer{
    background: #3c40c6;
    padding: 1em 0 1em 0;
    box-sizing: border-box;
}
